<div class="container mt-5 mb-5">
    <h2 class="text-center">About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eligendi reiciendis amet quam voluptatem dicta
        tenetur, repudiandae mollitia similique assumenda facilis doloremque aspernatur est. Illo quam ullam pariatur
        minus esse nihil similique, nisi ratione non aliquam consequatur eum harum odit sequi magnam delectus obcaecati
        fugiat quidem natus tempora labore dolore asperiores eveniet? Pariatur sequi officiis alias repellat error
        possimus nobis!
    </p>
</div>